BasedOnStyle: Google
ColumnLimit: "100"
TabWidth: "4"
IndentWidth: 4
Language: Cpp
PointerAlignment: Left
SortIncludes: "false"
SortUsingDeclarations: "false"
SpaceAfterCStyleCast: "true"
AllowShortEnumsOnASingleLine: false
AlignConsecutiveMacros: true
AlignAfterOpenBracket: Align
SpaceBeforeParens: Never
SpaceBeforeRangeBasedForLoopColon: "true"
SpaceInEmptyParentheses: "false"
PenaltyBreakComment: 1000000000
BreakBeforeBraces: Stroustrup